.dashboard {
  background-color: #f1f1f1; // gris claro de fondo
  min-height: 10vh; // altura mínima para ocupar el espacio

  // Caja genérica para cada sección
  &__box {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
  }


  // Saldo
  &__saldo {
    @extend .dashboard__box;

    .card-title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .saldo__monto {
      font-size: 2rem;
      font-weight: 700;
      color: #343a40; // puedes usar tu $text-color si lo tienes definido
      margin-bottom: 1rem;
    }

    .saldo__form {
      label {
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
    }

  // Tarjetas
  &__tarjetas {
    @extend .dashboard__box;

    .row > [class*="col-"] {
    display: flex;
    flex-direction: column;
    }

    .tarjeta .card-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .tarjeta {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      border-radius: 12px;
      padding: 1rem;
      font-family: "lato", sans-serif;
      margin-bottom: 1rem;
      height: 100%;

      &--debito {
        background: linear-gradient(135deg, #4c49ed, #0a06f4);
        color: #fff;
      }

      &--credito {
        background: linear-gradient(135deg, #ffffff, #e5e5e5);
        color: #343a40;
      }

      &--agregarTarjeta {
        display: flex;
        flex-direction: column;
        background-color: #DDDDDD;
        color: #888;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
          background: #d0d0d0;
        }
        &:hover i {
          color: #333;
        } 
      }
    }
  }
}
}